<!--<span th:text="'Message: ' + ${message}"></span>-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

    <!-- Other CSS -->
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/parsley.css"/>
    <link rel="stylesheet" href="css/toastr.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.css"/>
    <link href="css/skins/polaris/polaris.css" rel="stylesheet"/>
</head>
<body>
<!-- Log in modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/user/login" id="loginForm" method="POST">
                <div class="modal-body">
                    <div class="bs-callout bs-callout-warning hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid...</p>
                        <hr/>
                    </div>

                    <div class="bs-callout bs-callout-info hidden">
                        <h4>Good!</h4>
                        <p>Everything seems to be ok!</p>
                        <hr/>
                    </div>
                    <div class="form-group row">
                        <label for="loginEmail" class="col-sm-3 col-form-label">Email: </label>
                        <div class="col-sm-9">
                            <input type="text" name="login" class="form-control" id="loginEmail" placeholder="text"
                                   required="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="loginPassword" class="col-sm-3 col-form-label">Password: </label>
                        <div class="col-sm-9">
                            <input type="password" name="password" class="form-control" id="loginPassword"
                                   placeholder="Password" required="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-md-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember"/> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Registration modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="registerForm" method="POST">
                <div class="modal-body">
                    <div class="bs-callout bs-callout-warning hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid...</p>
                        <hr/>
                    </div>

                    <div class="bs-callout bs-callout-info hidden">
                        <h4>Good!</h4>
                        <p>Everything seems to be ok!</p>
                        <hr/>
                    </div>
                    <div class="form-group row">
                        <label for="registerEmail" class="col-sm-3 col-form-label">Email: </label>
                        <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" id="registerEmail" placeholder="Email"
                                   required="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="registerPassword" class="col-sm-3 col-form-label">Password: </label>
                        <div class="col-sm-9">
                            <input type="password" name="password" class="form-control" id="registerPassword"
                                   placeholder="Password" required="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="registerConfirmPassword" class="col-sm-3 col-form-label">Confirm password: </label>
                        <div class="col-sm-9">
                            <input type="password" name="password" class="form-control" id="registerConfirmPassword"
                                   placeholder="Password confirmation" required="true" data-parsley-equalto="#registerPassword"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registration</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Create calendar modal -->
<div class="modal fade" id="createCalendarModal" tabindex="-1" role="dialog" aria-labelledby="createCalendarModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New calendar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/calendar/add" id="createCalendarForm" method="POST">
                <div class="modal-body">
                    <div class="bs-callout bs-callout-warning hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid...</p>
                        <hr/>
                    </div>

                    <div class="bs-callout bs-callout-info hidden">
                        <h4>Good!</h4>
                        <p>Everything seems to be ok!</p>
                        <hr/>
                    </div>
                    <div class="form-group row">
                        <label for="createName" class="col-sm-3 col-form-label">Name: </label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" id="createName"
                                   placeholder="Calendar name" required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="createDescription" class="col-sm-3 col-form-label">Description: </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="createDescription" rows="3" name="description"
                                      placeholder="Description" required="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-md-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="isPrivate"/> Private
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit calendar modal -->
<div class="modal fade" id="editCalendarModal" tabindex="-1" role="dialog" aria-labelledby="editCalendarModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit calendar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="calendar/update" id="editCalendarForm" method="POST">
                <div class="modal-body">
                    <div class="bs-callout bs-callout-warning hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid...</p>
                        <hr/>
                    </div>

                    <div class="bs-callout bs-callout-info hidden">
                        <h4>Good!</h4>
                        <p>Everything seems to be ok!</p>
                        <hr/>
                    </div>
                    <div class="form-group row">
                        <label for="chooseCalendarForEdit" class="col-sm-5 col-form-label">Choose calendar: </label>
                        <div class="col-sm-7">
                            <select class="custom-select" id="chooseCalendarForEdit" name="id" required="true">
                                <option selected="selected" disabled="disabled">None</option>
                                <div th:each="calendar : ${calendars}">
                                    <option th:value="${calendar.id}" th:text="${calendar.name}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="createName" class="col-sm-3 col-form-label">Name: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editName" placeholder="Calendar name"
                                   name="name" required="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="editDescription" class="col-sm-3 col-form-label">Description: </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="editDescription" rows="3" placeholder="Description"
                                      name="description" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-md-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="editIsPrivate" type="checkbox" name="public" disabled="true"/> Is
                                    public
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete calendar modal -->
<div class="modal fade" id="deleteCalendarModal" tabindex="-1" role="dialog" aria-labelledby="deleteCalendarModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete calendar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="deleteCalendarForm">
                <div class="modal-body">
                    <div class="bs-callout bs-callout-warning hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid...</p>
                        <hr/>
                    </div>

                    <div class="bs-callout bs-callout-info hidden">
                        <h4>Good!</h4>
                        <p>Everything seems to be ok!</p>
                        <hr/>
                    </div>
                    <div class="form-group row">
                        <label for="chooseCalendarForDelete" class="col-sm-5 col-form-label">Choose calendar: </label>
                        <div class="col-sm-7">
                            <select name="id" class="custom-select" id="chooseCalendarForDelete" required="required">
                                <option selected="selected" disabled="disabled">None</option>
                                <div th:each="calendar : ${calendars}">
                                    <option th:value="${calendar.id}" th:text="${calendar.name}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Create event modal -->
<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/" id="createEventForm" method="POST">
                <div class="modal-body">
                    <div class="bs-callout bs-callout-warning hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid...</p>
                        <hr/>
                    </div>

                    <div class="bs-callout bs-callout-info hidden">
                        <h4>Good!</h4>
                        <p>Everything seems to be ok!</p>
                        <hr/>
                    </div>
                    <div class="form-group row">
                        <label for="createTitle" class="col-sm-3 col-form-label">Title: </label>
                        <div class="col-sm-9">
                            <input type="text" name="title" class="form-control" id="createTitle"
                                   placeholder="Event title" required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="createPlace" class="col-sm-3 col-form-label">Place: </label>
                        <div class="col-sm-9">
                            <input type="text" name="title" class="form-control" id="createPlace"
                                   placeholder="Event place" required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="createDescription" class="col-sm-3 col-form-label">Description: </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="createDescription" rows="3" name="description"
                                      placeholder="Description" required="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-8">
                            <div id="datetimepicker"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Main part -->
<div class="side-menu-button" id="side-menu-open">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>
<div id="side-menu" class="sidenav">
    <div class="sidenav-block">
        <div>
            <h2>Displaying calendars</h2>
            <hr color="white"/>
        </div>
        <div>
            <h2>My calendars</h2>
            <div th:each="calendar : ${calendars}">
                <input type="checkbox"/>
                <span th:text="${calendar.name}" data-toggle="tooltip" data-placement="right" th:title="${calendar.description}"></span>
            </div>
        </div>
        <div>
            <h2>External calendars</h2>
            <div>
                <input type="checkbox"/>
                <span style="width: 50%; display: inline-block;">Diploma</span>
                <a class="btn btn-danger" href="" aria-label="Delete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
            <div>
                <input type="checkbox"/>
                <span style="width: 50%; display: inline-block;">Course project</span>
                <a class="btn btn-danger" href="" aria-label="Delete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
            <hr color="white"/>
        </div>
        <div>
            <form action="">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="search" placeholder="Search.." class="search" autocomplete="off"/>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-info">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row header">
        <div class="col-md-4">
            <h1 class="text-center logo">Ahead of time</h1>
        </div>
        <div class="col-md-3 offset-md-5 align-self-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                Log in
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
                Register
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <ul class="nav justify-content-center navbar-dark bg-dark" style="background-color: #e3f2fd;">
                <li class="nav-item">
                    <a class="nav-link active-menu" href="#">Calendars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row add-menu">
        <div class="col-md-2 offset-md-4 text-center"><a href="">My calendars</a></div>
        <div class="col-md-2 text-center"><a href="">My events</a></div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-11">
            <div class="month">
                <ul>
                    <li class="prev" id="calendar-prev">&#10094;</li>
                    <li class="next" id="calendar-next">&#10095;</li>
                    <li id="month-name"></li>
                </ul>
            </div>

            <table class="calendar">
                <thead class="weekdays">
                <tr>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                </tr>
                </thead>
                <tbody class="days">

                </tbody>
            </table>
        </div>
        <div class="col-md-1 calendar-buttons">
            <div><i class="fa fa-plus fa-2x" data-toggle="modal" data-target="#createCalendarModal"></i></div>
            <div><i class="fa fa-pencil fa-2x" data-toggle="modal" data-target="#editCalendarModal"></i></div>
            <div><i class="fa fa-trash fa-2x" data-toggle="modal" data-target="#deleteCalendarModal"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer">
            <h1 class="text-center">Footer</h1>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/e0869bc4be.js"></script>
<script src="js/calendar/CalendarController.js"></script>
<script src="js/libs/moment-with-locales.js"></script>
<script src="js/libs/parsley.min.js"></script>
<script src="js/libs/icheck.js"></script>
<script src="js/libs/toastr.min.js"></script>
<script src="js/libs/bootstrap-datetimepicker.js"></script>
<script src="js/script.js"></script>
</body>
</html>